<br>
 <div class="container">
   <div class="card text-white bg-dark">
     <div class="card-header" text-align="center">
       <h4>Actualizar Sucursal</h4>
     </div>
     <div class="card-body">
       <form>

         <div class="form-row">
           <div class="form-group col-md-4">
             <label for="nombre">Nombre Sucursal</label>
             <input type="text" class="form-control" id="Nombre" placeholder="Nombre" required>
           </div>
           <div class="form-group col-md-4">
             <label for="Direccion">Direccion</label>
             <input type="text" class="form-control" id="Direccion" placeholder="Irarrazaval #5600" required>
           </div>
           <div class="form-group col-md-4">
             <label for="Comuna">Comuna</label>
             <input type="text" class="form-control" id="Comuna" placeholder="Ñuñoa" required>
           </div>
           <div class="form-group col-md-4">
               <label for="region">Region</label>
               <input type="text" class="form-control" id="Region" placeholder="Metropolitana" required>
           </div>
         </div>

 
         <div class="centerBtn">
           <button type="submit" class="btn btn-primary">Actualizar</button>
         </div>

       </form>
     </div>
   </div>