<!-- Autores
  creados con el fin de usar en un futuro
  Rene Allende: creacion y diseño
  Eliana : formularios
-->

<div class="container">
  <div class="card text-white bg-dark">
    <div class="card-header" text-align="center">
      <h4>Agregar Usuarios</h4>
    </div>
    <div class="card-body">
      <form>
        <div class="form-row">
          <div class="form-group col-md-1" style="text-align: center">
            <label>ID</label>
            <input type="number" class="form-control" id="id" name="id" [(ngModel)]="id" placeholder="" disabled>
          </div>
          <div class="form-group col-md-4" style="text-align: center">
            <label>Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" placeholder="Nombre"
              minlength="2" required>
          </div>

          <div class="form-group col-md-4" style="text-align: center">
            <label for="Apellidos">Apellidos</label>
            <input type="text" class="form-control" id="apellidos" name="apellidos" [(ngModel)]="apellidos"
              placeholder="Apellidos">
          </div>
          <div class="form-group col-md-3" style="text-align: center">
            <label>Rut</label>
            <input type="text" class="form-control" id="Rut" name="rut" [(ngModel)]="rut" placeholder="111.111.111-1">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Tipo de Usuario</label>
            <select name="cargo" id="cargo" [(ngModel)]="cargo" class="form-control">
              <option>Administrador</option>
              <option>Vendedor</option>
              <option>Otro...</option>
            </select>
          </div>
          <div class="form-group col-md-6">
            <label>Sucursal</label>
            <select name="sucursal" id="sucursal" [(ngModel)]="sucursal" class="form-control">
              <option>Sucursal 1</option>
              <option>Sucursal 2</option>
              <option>Sucursal 3</option>
            </select>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Correo Electronico</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email"
              placeholder="email@email.cl">
          </div>
          <div class="form-group col-md-6">
            <label>Confirme Correo Electronico</label>
            <input type="email" class="form-control" id="emailconfirmed" name="emailconfirmed"
              [(ngModel)]="emailconfirmed" placeholder="email@email.cl">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Contraseña</label>
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password"
              placeholder="Contraseña">
          </div>
          <div class="form-group col-md-6">
            <label>Confirme Contraseña</label>
            <input type="password" class="form-control" id="passwordConfirmed" name="passwordConfirmed"
              [(ngModel)]="passwordConfirmed" placeholder="Contraseña">
          </div>
        </div>
        <div class="centerBtn">
          <button type="submit" class="btn btn-primary" id="agregar" (click)="agregar()">Agregar</button>

        </div>
      </form>
    </div>
  </div>
</div>
