<!-- ID - Nombre(modelo) - Marca - Color - Categoria - Precio - Stock  -->
<!-- Autor Matias Correa -->
<div class="container">

<div class="row">
  <div class="col-12 text-white mt-3">
    <h3>Reporte de Productos</h3>
  </div>
  <div class="col-12 mt-3">
      <table  class="table bg-dark text-white ">
          <thead class="thead-dark  text-white">
            <tr>
             <th scope="col">#</th>
             <th scope="col">ID</th>
             <th scope="col">Modelo</th>
             <th scope="col">Marca</th>
             <th scope="col">Color</th>
             <th scope="col">Categoria</th>
             <th scope="col">Precio</th>
             <th scope="col">Stock</th>
            </tr>
          </thead>

          <tbody class="text-white">
            <tr>
              <th scope="row">1</th>
              <td>{{ID}}</td>
              <td>{{Modelo}}</td>
              <td>{{Marca}}</td>
              <td>{{Color}}</td>
              <td>{{Categoria}}</td>
              <td>{{Precio}}</td>
              <td> {{Stock}}</td>
            </tr>
          </tbody>
        </table>
  </div>
</div>
</div>
