<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-dark mb-3 mt-4" data-toggle="modal" data-target="#agregarProducto">
      <fa-icon [icon]="iconAdd"></fa-icon>
      Agregar Producto
    </button>
    <button type="button" class="btn btn-dark mb-3 mt-4" data-toggle="modal" data-target="#agregarMarca">
      <fa-icon [icon]="iconAdd"></fa-icon>
      Agregar Marca
    </button>
    <button type="button" class="btn btn-dark mb-3 mt-4" data-toggle="modal" data-target="#agregarcategoria">
      <fa-icon [icon]="iconAdd"></fa-icon>
      Agregar Categoria
    </button>

    <div class="card bg-dark text-center text-light">
      <div class="card-header ">
        <h3>Productos</h3>
      </div>
      <div class="card-body">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th>ID</th>
              <th>MODELO</th>
              <th>MARCA</th>
              <th>COLOR</th>
              <th>CATEGORIA</th>
              <th>PRECIO</th>
              <th>STOCK</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr class="text-center" *ngFor="let producto of productos">
              <td>{{producto.id}}</td>
              <td>{{producto.modelo}}</td>
              <td>{{producto.marca}}</td>
              <td>{{producto.color}}</td>
              <td>{{producto.categoria}}</td>
              <td>{{producto.precio}}</td>
              <td>{{producto.stock}}</td>
              <td>
                <button class="btn btn-warning" (click)="ProductoEditar()"> Editar</button>
                <button class="btn btn-danger">Eliminar</button>
              </td>
            </tr> -->
           <tr  class="text-center table-hover" >
              <td>id</td>
              <td>modelo</td>
              <td>marca</td>
              <td>color</td>
              <td>categoria</td>
              <td>precio</td>
              <td>stock</td>
              <td>
                <button class="btn btn-warning" (click)="ProductoEditar()">
                  <fa-icon [icon]="iconEdit" style="margin:5px"></fa-icon>Editar</button>
                <button class="btn btn-danger" style="margin-left:1rem">
                  <fa-icon [icon]="iconDelete" style="margin:5px"></fa-icon>Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Modal -->
<div class="modal fade" id="agregarProducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #datosProducto="ngForm" (ngSubmit)="create(datosProducto.value)">
          <div class="form-row">

            <div class="form-group col-md-2">
              <label for="IdProducto">ID</label>
              <input type="number" class="form-control" id="Id" name="id"
                placeholder="0" disabled>
            </div>

            <div class="form-group col-md-5">
              <label for="inputState">MARCAS</label>
              <select class="form-control" id="Marca" name="Marca"  ngModel>
                <!--duda con el ngModel-->
                <option selected>Seleccione...</option>
                <option>samsung</option>
                <option>Apple</option>
                <option>Azumi</option>
                <option>Huawei</option>
                <option>LG</option>
                <option>Sony</option>
                <option>Asus</option>
                <option>Alcatel</option>
              </select>
            </div>

            <div class="form-group col-md-5">
              <label for="Modelo">MODELO</label>
              <input type="text" class="form-control" id="Modelo" name="modelo"
                placeholder="modelo" ngModel>
            </div>

            <div class="form-group col-2">
              <label for="Color">Color</label>
              <input type="text" class="form-control" id="Color" name="color"
                placeholder="Color" ngModel>
            </div>

            <div class="form-group col-3">
              <label for="inputState">Categoria</label>
              <select class="form-control" id="Categoria" name="categoria"  ngModel>
                <option selected>Seleccione...</option>
                <option>Telefonos</option>
                <option>Tablets</option>
                <option>Accesorios</option>
              </select>

            </div>
            <div class="form-group col-3">
              <label for="stockProducto">Stock</label>
              <input type="number" class="form-control" id="Stock" name="stock"  placeholder="0" ngModel>
            </div>

            <div class="form-group col-3">
              <label for="precio">Precio</label>
              <input type="number" class="form-control" id="Precio" name="precio"
                 placeholder="0" min="0" ngModel>
            </div>

          </div>

          <div class="centerBtn">
            <input type="submit" class="btn btn-primary" value="Agregar">
          </div>

        </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="agregarMarca" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Marcas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #datosProducto="ngForm" (ngSubmit)="create(datosProducto.value)">
          <div class="form-row">

            <div class="form-group col-md-2">
              <label for="IdProducto">ID</label>
              <input type="number" class="form-control" id="Id" name="id" placeholder="0" disabled>
            </div>

            <div class="form-group col-md-5">
              <label for="Marca">Marca</label>
              <input type="text" class="form-control" id="Marca" name="Marca" placeholder="Marca" ngModel>
            </div>

          </div>

          <div class="centerBtn">
            <input type="submit" class="btn btn-primary" value="Agregar">
          </div>

        </form>
      </div>
    </div>
  </div>
</div>




<div class="modal fade" id="agregarcategoria" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form #datosProducto="ngForm" (ngSubmit)="create(datosProducto.value)">
          <div class="form-row">

            <div class="form-group ">
              <label for="categoria">Categoria</label>
              <input type="text" class="form-control" id="categoria" name="categoria" placeholder="categoria" ngModel>
            </div>

            </div>


          <div class="centerBtn">
            <input type="submit" class="btn btn-primary" value="Agregar">
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
